<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dairyproductscompanyapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_main_splash_screen"
        android:name=".setting.ThemeApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DairyProductsCompanyApp">
<!--        <activity-->
<!--            android:name=".SplashScreen"-->
<!--            android:exported="false" />-->
        <service
            android:name="com.example.dairyproductscompanyapp.utils.FireBaseMessaging"
            android:exported="false"
            tools:ignore="Instantiatable,MissingClass">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/title_activity_main_splash_screen"
            android:theme="@style/Theme.DairyProductsCompanyApp.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/screenshot_2022_01_16_114927" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIObsvDgIRkGGUKISzEO8we3suzF8jo3w" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

        </activity>
    </application>

</manifest>